@import '../abstracts/mixins';

.card {
    background-color: #2F394D;
    padding: .5rem;
    max-width: 14.375rem;
    border-radius: .5rem;

    img {
        border-radius: .5rem;
    }

    &__detail {
        @include displayFlex(row, center, space-between);
        margin-top: .75rem;

        &-title {
            font-size: .875rem;
            font-family: 'Alatsi', sans-serif;
        }

        &-score {
            color: var(--colors-orange);
            font-family: 'Alatsi', sans-serif;

            span {
                font-size: .875rem;
            }
        }

    }

    &__content {
        font-size: .75rem !important;
        line-height: .8rem !important;
        margin-top: 10px !important;
        margin-bottom: 1rem;
    }


}