@import '../abstracts/mixins';

.popover__standart {
    position: relative;

    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 100%;
    // z-index: 1;
    // background-color: #fff;
    // 
    // overflow: hidden;


    &-collapse {
        display: none;
    }

    .popover__standart-collapse {
        animation-duration: 5s;
        transform: translateX(-1rem);
    }


    &:hover {
        .popover__standart-collapse {
            display: flex;
            @include positionChange(absolute, 0, 0, 6rem, 0);
            width: 20rem;
            height: 10rem;
            animation-duration: 5s;
            animation-delay: 1s;
            transform: translateX(0);

            .popover__content {
                border-radius: .5rem;
                background-color: var(--colors-saf-white);

                &__top {
                    @include displayFlex(row, start, start);
                    gap: .5rem;
                    background-color: var(--colors-orange);
                    color: white;
                    width: 100%;
                    padding: 10px;
                    font-size: 16px;
                    border-top-left-radius: .5rem;
                    border-top-right-radius: .5rem;
                }

                &__middle {
                    padding: 10px;

                    :nth-child(1) {
                        font-size: 1.5rem;
                    }

                    :nth-child(2) {
                        font-size: .75rem;
                        margin-top: .75rem;
                    }

                    width: 100%;
                }
            }
        }
    }
}