:root {
    --colors-saf-white: #FFFFFF;
    --colors-white: #B1BCD0;
    --colors-titanium-white: #B5BECD;
    --colors-black: #2F394D;
    --colors-titanium-black: #414A5C;
    --colors-orange: #FF8743;
    --colors-brown: #603116;
}

body {
    background-color: #1C273D;
}