$colors: (
    white: (100: hsl(0, 0%, 100%),
        200:hsl(0, 0%, 75%),
        300:hsl(0, 0%, 50%),
        400:hsl(0, 0%, 25%),
        500:hsl(0, 0%, 0%)),
    titanium-white:(100: hsl(219, 25, 75, 100%),
        200: hsl(219, 25, 75, 75%),
        300: hsl(219, 25, 75, 50%),
        400: hsl(219, 25, 75, 25%),
        500: hsl(219, 25, 75, 00%), ),
    black:(100: hsl(220, 24, 24, 100%),
        200:hsl(220, 24, 24, 75%),
        300:hsl(220, 24, 24, 50%),
        400:hsl(220, 24, 24, 25%),
        500:hsl(220, 24, 24, 0%), ),
    titanium-black:(100:hsl(220, 17, 31, 100%),
        200:hsl(220, 17, 31, 75%),
        300:hsl(220, 17, 31, 50%),
        400:hsl(220, 17, 31, 25%),
        500:hsl(220, 17, 31, 0%)),
    orange:(100:hsl(22, 100, 63, 100%),
        200:hsl(22, 100, 63, 75%),
        300:hsl(22, 100, 63, 50%),
        400:hsl(22, 100, 63, 25%),
        500:hsl(22, 100, 63, 0%)),
    brown:(100:hsl(22, 63, 23, 100%),
        200:hsl(22, 63, 23, 75%),
        300:hsl(22, 63, 23, 50%),
        400:hsl(22, 63, 23, 25%),
        500:hsl(22, 63, 23, 0%),
    )
);