$colors: (
    primary: (100: hsl(14, 100%, 80%),
        200:hsl(14, 100%, 70%),
        300:hsl(14, 100%, 60%),
        400:hsl(14, 100%, 50%),
        500:hsl(14, 100%, 40%),
    ),
    secondary:(100: hsl(219, 89%, 80%),
        200: hsl(219, 89%, 70%),
        300: hsl(219, 89%, 60%),
        400: hsl(219, 89%, 50%),
        500: hsl(219, 89%, 40%),
    ),
);